<header>
  <a href="/"><p>Fancy Inventory App</p></a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/depart">Depart Management</a></li>
      <li><a href="/nationality">Nationality Management</a></li>
      <li><a href="/student">Student Management</a></li>
    </ul>
  </nav>
</header>
