<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", { title: title }) %>
  <body>
    <%- include("partials/header.ejs", { title: title }) %>
    <main>
      <h1><%= title %></h1>
      <div>
        <p>Welcome to the Fancy Inventory App!</p>
        <p>Use this app to manage the departs, nationalities and students.</p>
        <p>Click on the links above to get started!</p>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
